.fixed{
    position: fixed;
    z-index: 3000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.required:after {
    content: '*';
    color: red;
}

.active {
    color: #12263f;
}

.dz-success-mark,
.dz-error-mark,
.dz-details {
    display: none;
}

.imb-block {
    width: 80px;
    height: 80px;
}

.imb-block>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropzone {
    flex-direction: row;
    flex-wrap: wrap;
}

.dz-default.dz-message {
    width: 100%;
    margin-bottom: 12px;
}

.dz-preview {
    width: fit-content;
    margin-right: 12px;
    margin-bottom: 32px;
    max-width: 120px;
    height: 120px;
}

.dz-preview .dz-image {
    width: 100%;
    height: 100%;
}

.dz-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
